body {
    background: black;
    color: white;
    height: 1000vh;
}
header {
    margin: 30px;
    font-size: 70px;
    background: white;
    color: black;
    text-align: center;
    position: relative;
    left: 30%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
}
h3 {
    position: relative;
    left: 70px;
    font-size: 45px;
    text-decoration: underline;
    text-underline-offset: 3px;
}
p {
    font-size: 30px;
    position: relative;
    left: 10%;
    top: -10px;
    width: 80%;
}
ul {
    font-size: 29px;
    position: relative;
    font-weight: bold;
    left: 12%;
    bottom: 12px;
}
a {
    position: relative;
    left: 90px;
    font-size: 30px;
    color: white;
    text-underline-offset: 10px;
}
a:hover {
    color: lawngreen;
}
a:active {
    color: blue;
}
code {
    color: black;
    background: whitesmoke;
    position: relative;
    bottom: 10px;
    left: 100px;
    padding: 11px;
}
code:hover {
    color: lawngreen;
    background: black;
    border: 2px solid white;
}
.tab {
    border: none;
}
